<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile/pratham">Profile</a></li>
</ul>
<link rel="stylesheet" href="../assests/style.css">